include partials/header.pug
<main>
  <div class="intro">
    <h1>Contact Us</h1>

  </div>
  
  <div class="about-me">
    <div class="about-me-text" style ="text-align:center">
      <h2>Contact Me</h2>
      <p>08031813515</p>
      <p>peterdafe@gmail.com</p>
      <p>Lagos, Nigeria</p>    
    </div>
  </div>
</main>
 include partials/footer.pug
