include partials/header.pug
<main>
  <div class="intro">
    <h1>A Web Developer</h1>
    <p>I am a web developer and I love to create websites.</p>
    <a href="/about"><button>Learn More</button></a>
    <span style ="color:#fff; margin:10% 0 0 0; font-size:24px"><b>OPEN FOR BUSINESS: 9AM - 5PM. MON - FRI</b></span>
  </div>
  <div class="achievements">
    <div class="work">
      <i class="fas fa-atom"></i>
      <p class="work-heading">Projects</p>
      <p class="work-text">I have worked on many projects, some of which includes: inventory management systems, e-commerce web app, school management system etc.</p>
    </div>
    <div class="work">
      <i class="fas fa-skiing"></i>
      <p class="work-heading">Skills</p>
      <p class="work-text">I have proficiency with PHP, LARAVEL, CODEIGNITER, MYSQL, NODEJS, MONGO DB, REACT JS.</p>
    </div>
    <div class="work">
      <i class="fas fa-ethernet"></i>
      <p class="work-heading">Network</p>
      <p class="work-text">Having worked with different teams and different projects with different organisation has broaden my network as well as my influence which makes me more resourceful and reliable</p>
    </div>
  </div>
  <div class="about-me">
    <div class="about-me-text">
      <h2>About Me</h2>
      <p>Young and passionate technology enthusiasts, with over 3 years of experience in web development. Adept at evaluating systems and savy with proferring best solutions also highly motivated with a knack for delivering excellence.</p>
    </div>
    <img src="https://images.unsplash.com/photo-1596495578065-6e0763fa1178?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="me">
  </div>
</main>
 include partials/footer.pug
